<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous"
    >

    <!-- Popper (bootstrap dependence) -->
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js">
    </script>

    <!-- Bootstrap JS -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
        crossorigin="anonymous">
    </script>


    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
        crossorigin="anonymous">
    </script>

    <!-- JQuery Datatables plugin -->
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    >
    <script 
        type="text/javascript" 
        charset="utf8" 
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js">
    </script>

    <!-- fds<!-- JQuery Selectize plugin 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap2.min.css">
    fds -->

    <!-- Datatables init -->
    <script>
        $(document).ready( function () {
            $('#breakfastTable').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
            });
        } );
    </script>
    <script>
        $(document).ready( function () {
            $('#dinnerTable').DataTable();
        } );
    </script>
    <script>
        $(document).ready( function () {
            $('#eveningTable').DataTable();
        } );
    </script>
    <!-- Datatables init over -->


    <!-- Custom CSS -->
    <link rel="stylesheet" href="./style.css">

    <!-- Custom JS -->
    <script src="./js/getMeals.js"></script>
</head>

<!------------------------------------------------------------------------------------------------------>
<!--------------------------------------------B-O-D-Y--------------------------------------------------->
<!------------------------------------------------------------------------------------------------------>

<body>
    <div class="container">

        <!-- Header -->
        <header>
            <div>
                Самый лучший текст на всём белом свете <br>
                Это мой любимый текст, лучше него на свете не существует
            </div>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Завтрак</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Обед</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Ужин</button>
                </div>
            </nav>
        </header>
        <!-- Header over -->

        <!-- Content -->
        <div class="content">
            
            <!-- Tabs content -->
            <div class="tab-content" id="nav-tabContent">

                <!-- Breakfast tab -->
                <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <!-- Table -->
                    <table id="breakfastTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Название продукта</th>
                                <th>Масса, г</th>
                                <th>Калории</th>
                                <th>Белки, г</th>
                                <th>Жиры, г</th>
                                <th>Углеводы, г</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Авокадо</td>
                                <td>100</td>
                                <td>231</td>
                                <td>45</td>
                                <td>22</td>
                                <td>11</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Table over -->

                    <!-- New meal form -->
                    <form action="#" class="add-meal-form">
                         <!-- Meals drodpown -->
                        <label for="meal-list">Выберите продукт:</label>
                        <select id="meals-list"></select>
                        <!-- Meals drodpown over -->

                        <!-- Weight input -->
                        <label for="meal-weight">Введите массу в граммах:</label>
                        <input id="meal-weight" name="meal-weight" />
                        <!-- Weight input over  -->

                        <input type="submit" value="Добавить">
                    </form>
                    <!-- New meal form over -->
                   

                </div>
                <!-- Breakfast tab over -->


        </div>
        <!-- Content over -->

    </div>
    
</body>
<html>