

.container {
    padding-top: 25px;
    max-width: 1150px;

    font-family: 'Arial';
}

/* Шапка */

header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

header .calories {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

header .calories p {
    margin-right: 5px;
}

/* Навбар */

header nav .nav {
    justify-content: center;
}

/* Контент */

.content {
    margin: 0 auto;
}

.tab-pane {
    margin-top: 15px;
}

table {
    text-align: left;
}

td {
    padding-right: 0;
}

.row {
    margin-bottom: 30px;
}

.block {
    padding: 15px;
    background-color: #9ACD32;

    border-radius: 15px;
    border: 2px solid #669900;
}

.block.tables-header {
    padding: 0;
    padding-left: 25px;
}

.block .form {
    padding: 5px;
}

.block .form > * {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    margin-bottom: 5px;
    padding: 8px;

    background-color: #669900;
    border-radius: 5px;
}

.block .form > * > label {
    margin-bottom: 10px;
    color: black;
}

.block .form {
    color: white;
}

.block .form select,
.block input {
    width: 100%;
    text-align: center;
    color: white;
    background-color: transparent;

    border: 0;
    border-bottom: 1px solid white;

    margin: 3px;
}

.block .form button {
    margin: 10px auto;
}

.block table {
    text-align: center;
}

.block table.dataTable.no-footer,
.block .block-table table.block-rows {
    border-bottom: 0;
    border-spacing: 3px 4px;

    color: white;
}

table.dataTable thead th, 
table.dataTable thead td {
    border-bottom: 0;
}

.delete-icon {
    color: white;
}


.block .block-table table.block-type {
    width: 100%;
    text-align: center;

    margin-bottom: -10px;
}

.block .block-table table.block-type thead th {
    border-bottom: 2px solid black;
    padding: 1px;
}

.block-type-header {
    border-bottom: 2px solid black;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

table.block-rows td {
   border-radius: 3px;
   background-color: #669900;
}

.vegetables {
    margin-top: 50px;
}

.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}

.invisible {
    visibility: hidden;
}

.color-green {
    color: #7CFC00;
}

.color-red {
    color: red;
}

table.dataTable {
    width: 100% !important;
}

.vegetables .block-rows {
    width: 100%;
    border-spacing: 3px 4px;
    border-collapse: separate;
}

.vegetables .block-rows td {
    padding: 8px 10px;
    box-sizing: content-box;
    color: white;
}

.block-table table.dataTable thead th {
    padding: 0;
}