.container {
    padding-top: 25px;
}

header {
    text-align: center;
    margin: 0 auto;
}

.nav {
    justify-content: center;
    margin-top: 15px;
}

.content {
    margin: 0 auto;
}

.tab-pane {
    margin-top: 15px;
}

table {
    text-align: center;
}

.add-meal-form {
    margin-top: 15px;
    margin-left: 5%;
}

form.add-meal-form > * {
    margin: 8px;
}

form.add-meal-form input[type="submit"] {
    margin-top: 15px;
}